<h1>フエラムネ一覧</h1>

  <!-- <div class="spinner-container"> -->

    <%= form_with model: @ramune, url: ramunelist_path, local: true do |f| %>
      <% if @ramune.errors.any? %>
        <strong><%= @ramune.errors.count %>個のエラーがあります。</strong>
        <ul>
          <% @ramune.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      <% end %>

  <table>
    <tbody>
      <!-- <%= render 'layouts/header' %> -->
      <tr>
        <th>おまけの種類</th>
        <th>女の子用</th>
        <th>男の子用</th>
      </tr>
      <%= hidden_field_tag :user_id, current_user.id %>
      <tr>
        <th>フエラムネ</th>
        <td><input class="spinner" type="number" name="ramune_normal_girl" min="0" max="99" value="0"></td>
        <td><input class="spinner" type="number" name="ramune_normal_boy" min="0" max="99" value="0"></td>
      </tr>
      <tr>
        <th>フエラムネ メロン</th>
        <td>
            <span class="spinner-sub disabled">-</span>
            <input class="spinner" type="number" name="ramune_melon_girl" min="0" max="99" value="0">
            <span class="spinner-add">+</span>
        </td>
        <td><input class="spinner" type="number" name="ramune_melon_boy" min="0" max="99" value="0"></td>
      </tr>
      <tr>
        <th>フエラムネ ぶどう</th>
        <td><input class="spinner" type="number" name="ramune_grape_girl" min="0" max="99" value="0"></td>
        <td><input class="spinner" type="number" name="ramune_grape_boy" min="0" max="99" value="0"></td>
      </tr>
      <tr>
        <th>フエラムネ ヨーグルト</th>
        <td><input class="spinner" type="number" name="ramune_yogurt_girl" min="0" max="99" value="0"></td>
        <td><input class="spinner" type="number" name="ramune_yogurt_boy" min="0" max="99" value="0"></td>
      </tr>
      <tr>
        <th>フエラムネ いちご</th>
        <td><input class="spinner" type="number" name="ramune_strawberry_ver1_girl" min="0" max="99" value="0"></td>
        <td><input class="spinner" type="number" name="ramune_strawberry_ver1_boy" min="0" max="99" value="0"></td>
      </tr>
      <tr>
        <th>フエラムネ ミックスフルーツ</th>
        <td><input class="spinner" type="number" name="ramune_mixedfruit_girl" min="0" max="99" value="0"></td>
        <td><input class="spinner" type="number" name="ramune_mixedfruit_boy" min="0" max="99" value="0"></td>
      </tr>
      <tr>
        <th>フエラムネ オレンジ</th>
        <td><input class="spinner" type="number" name="ramune_orange_girl" min="0" max="99" value="0"></td>
        <td><input class="spinner" type="number" name="ramune_orange_boy" min="0" max="99" value="0"></td>
      </tr>
      <tr>
        <th>フエラムネ コーラ</th>
        <td><input class="spinner" type="number" name="ramune_cola_girl" min="0" max="99" value="0"></td>
        <td><input class="spinner" type="number" name="ramune_cola_boy" min="0" max="99" value="0"></td>
      </tr>
      <tr>
        <th>フエラムネ ホットケーキ</th>
        <td><input class="spinner" type="number" name="ramune_pancake_girl" min="0" max="99" value="0"></td>
        <td><input class="spinner" type="number" name="ramune_pancake_boy" min="0" max="99" value="0"></td>
      </tr>
      <tr>
        <th>フエラムネ ブルーソーダ</th>
        <td><input class="spinner" type="number" name="ramune_bluesoda_girl" min="0" max="99" value="0"></td>
        <td><input class="spinner" type="number" name="ramune_bluesoda_boy" min="0" max="99" value="0"></td>
      </tr>
      <tr>
        <th>フエラムネ いちご</th>
        <td><input class="spinner" type="number" name="ramune_strawberry_ver2_girl" min="0" max="99" value="0"></td>
        <td><input class="spinner" type="number" name="ramune_strawberry_ver2_boy" min="0" max="99" value="0"></td>
      </tr>
      <tr>
        <th>フエラムネ パインアメ味</th>
        <td><input class="spinner" type="number" name="ramune_pineapplecandy_girl" min="0" max="99" value="0"></td>
        <td><input class="spinner" type="number" name="ramune_pineapplecandy_boy" min="0" max="99" value="0"></td>
      </tr>
      <tr>
        <th>フエラムネ みっくちゅじゅーちゅ味</th>
        <td><input class="spinner" type="number" name="ramune_mixedjuice_girl" min="0" max="99" value="0"></td>
        <td><input class="spinner" type="number" name="ramune_mixedjuice_boy" min="0" max="99" value="0"></td>
      </tr>
      <tr>
        <th>フエラムネ ゴールデンコーラ</th>
        <td><input class="spinner" type="number" name="ramune_goldencola_girl" min="0" max="99" value="0"></td>
        <td><input class="spinner" type="number" name="ramune_goldencola_boy" min="0" max="99" value="0"></td>
      </tr>
      <tr>
        <th>フエラムネ パイレーツコーラ</th>
        <td><input class="spinner" type="number" name="ramune_piratecola_girl" min="0" max="99" value="0"></td>
        <td><input class="spinner" type="number" name="ramune_piratecola_boy" min="0" max="99" value="0"></td>
      </tr>
      <tr>
        <th>フエラムネ 怪盗ブラッククッキーマンが3時に飲むコーラ味</th>
        <td><input class="spinner" type="number" name="ramune_phantomthiefcola_girl" min="0" max="99" value="0"></td>
        <td><input class="spinner" type="number" name="ramune_phantomthiefcola_boy" min="0" max="99" value="0"></td>
      </tr>
      <tr>
        <th>フエラムネ クッピーラムネ味</th>
        <td><input class="spinner" type="number" name="ramune_cuppyramune_girl" min="0" max="99" value="0"></td>
        <td><input class="spinner" type="number" name="ramune_cuppyramune_boy" min="0" max="99" value="0"></td>
      </tr>
      <tr>
        <th>フエラムネ フエ星人がパーティで飲むコーラ味</th>
        <td><input class="spinner" type="number" name="ramune_whistlealiencola_girl" min="0" max="99" value="0"></td>
        <td><input class="spinner" type="number" name="ramune_whistlealiencola_boy" min="0" max="99" value="0"></td>
      </tr>
      <tr>
        <th>フエラムネ いちご</th>
        <td><input class="spinner" type="number" name="ramune_strawberry_ver3_girl" min="0" max="99" value="0"></td>
        <td><input class="spinner" type="number" name="ramune_strawberry_ver3_boy" min="0" max="99" value="0"></td>
      </tr>
      <tr>
        <th>フエラムネ パラサイトコーラ味</th>
        <td><input class="spinner" type="number" name="ramune_parasitecola_girl" min="0" max="99" value="0"></td>
        <td><input class="spinner" type="number" name="ramune_parasitecola_boy" min="0" max="99" value="0"></td>
      </tr>
      <tr>
        <th>フエラムネ ジャンピングバトルコーラ味</th>
        <td><input class="spinner" type="number" name="ramune_jumpingbattlecola_girl" min="0" max="99" value="0"></td>
        <td><input class="spinner" type="number" name="ramune_jumpingbattlecola_boy" min="0" max="99" value="0"></td>
      </tr>
      <tr>
        <th>フエラムネ イン・ザ・フューチャーコーラアジ</th>
        <td><input class="spinner" type="number" name="ramune_inthefuturecola_girl" min="0" max="99" value="0"></td>
        <td><input class="spinner" type="number" name="ramune_inthefuturecola_boy" min="0" max="99" value="0"></td>
      </tr>  
    </tbody>
  </table>

  <!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script> -->

  <!-- </div> -->
  
  <%= button_to "登録", {controller: 'ramunes', action: 'create'} %>
<% end %>